<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

<h1>There are {{length}} words in your text</h1>

<a href="{%  url 'home'%}">Start Again</a>

<h1>Your Text:</h1>
{{fulltext}}
<br />

The most common word is {{maxWord}} found {{maxCount}} times
<br />
<br />

<a href="{% url 'about' %}">About</a>
<br />
<br />
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Word</th>
            <th>Count</th>
        </tr>
    </thead>
    {% for word, counttotal in sortedwords %}
    <tbody>
        <tr>
            <td>{{word}}</td>
            <td>{{counttotal}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

